<!-- Template Driven Form -->
<!-- <form class="row g-3 p-5" #form = "ngForm" (ngSubmit) = "form.valid && onsubmit()">
  <p class="h1 text-center"><span class="text-danger">R</span>egister <span class="text-danger">F</span>orm</p>
  <div class="col-md-12">
    <label class="form-label">FirstName</label>
    <input type="text" class="form-control" name="firstName" placeholder="Fname" required #firstName="ngModel" [(ngModel)]="data.firstname">
    <label class="text-danger" *ngIf="form.submitted && firstName.errors?.['required']">FirstName is required</label>
  </div>
  <div class="col-md-12">
    <label class="form-label">LastName</label>
    <input type="text" class="form-control" name="lastName" placeholder="Lname" required #lastName="ngModel" [(ngModel)]="data.lastname">
    <label class="text-danger" *ngIf="form.submitted && lastName.errors?.['required']">LastName is required</label>
  </div>
  <div class="col-md-12">
    <label class="form-label">PhoneNumber</label>
    <input type="number" class="form-control" name="phoneName" placeholder="Lname" required #phoneNumber="ngModel" [(ngModel)]="data.Phonenumber" pattern="^((\\+91-?)|0)?[0-9]{10}$">
    <label class="text-danger" *ngIf="form.submitted && phoneNumber.errors?.['required']">Phonenumber is required</label>
    <label class="text-danger" *ngIf="form.submitted && phoneNumber.errors?.['pattern']">Inavilad Phonenumber</label>
  </div>
  <div class="col-md-12">
    <label class="form-label">Email</label>
    <input type="text" class="form-control" name="Email" placeholder="Lname" required #email="ngModel" [(ngModel)]="data.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    <label class="text-danger" *ngIf="form.submitted && email.errors?.['required']">Email is required</label>
    <label class="text-danger" *ngIf="form.submitted && email.errors?.['pattern']">Email is not correct</label>
  </div>
  <div class="col-12">
    <button type="submit" class="btn bg-primary text-white">Submit</button>
  </div>
</form> -->

<!-- Reactive Forms -->
<!-- <div class="container-fluid">
<form [formGroup] = "registrationForm" (ngSubmit) = "onsubmit()">
  <label>First name</label>
  <input type="text" placeholder="First name" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid':submit&&f.firstName.errors}">
  <div *ngIf="submit&&f.firstName.errors" class="invalid-feedback">
    <div *ngIf="f.firstName.errors['required']">FirstName is required</div>  
  </div>

  <label>Last name</label>
  <input type="text" placeholder="Last name" class="form-control" formControlName="lastName">

  <label>Phone</label>
  <input type="number" placeholder="Phno" class="form-control" formControlName="phone">

  <label>Email</label>
  <input type="email" placeholder="email" class="form-control" formControlName="email">
  <button type="submit" class="btn bg-success text-white mt-2">Submit</button>
</form>
</div> -->

<!-- Reactive Dynamic Form -->
<form action="" [formGroup]="registration" (ngSubmit)="onSubmit(registration)">
<label>Email</label>
<input type="text" class="form-control" formControlName="email">
<div>
  <button type="button" class="bg-warning text-white" (click)="addAlternativeEmail()">Add</button>
</div>
<div formArrayName="alternativeEmails" *ngFor="let item of alternativeEmails.controls; let i = index">
  <label>Alternative Email {{i+1}}</label>
  <input type="text" [formControlName]="i" class="form-control">
</div>
<div>
  <button class="bg-success text-white">Submit</button>
</div>
</form>